.image-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;
    padding:5px;
    border-radius: 10px;
    color: black;
    font-weight: bold;

    & > img {
        max-width: 200px;
        max-height: 100%;
        border-radius: 10px;
    }
}
