.image-upload {
    padding: 1rem;
    border: 1px solid #ccc;

    h2 {
        margin-top: 0;
    }

    .drop-zone {
        border: 2px dashed #cccccc;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        margin-bottom: 1rem;

        &.drag-active {
            background-color: #fafafa;
        }

        & > p{
            color: #666;
        }
    }

    .error-message {
        margin-top: 1rem;
        color: red;
    }
}
